# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 5feffde13c158e665f036510efe94dda63ff32829d15fde092de00b1ec914030dc5610836822ac9ec6117d23a30530173bd477e28f1dd1c57b14f9ac08d11287

test:
  secret_key_base: 906ec0c3792b2a14e8519f26f5a5f2b55d36b73824cf09deed8e789032ddc5fa895c91e5c020a054577ad2f6c5219635e7e3e58db1a51b5cf5f69853b268d518

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
